@model int[]

@{
    ViewData["Title"] = "Person Page";
}


        <h2>Items</h2>

        <h3>Here are the people</h3>

        @foreach (var item in Model)
        {
            <div>@item</div>

        }
