@model WebApplication2.Models.Person
@{
    ViewData["Title"] = "ShowPerson";
}

@*<h2>Sample Product</h2>*@

<div>First Name: @Model.FirstName</div>
<div>Last Name: @Model.LastName</div>
<div>Birth Date: @Model.BirthDate</div>
<div>Age: @Model.Age.ToString("")</div>
<div>
    <br><br> <a asp-action="Index">Back to List</a>
</div>