@model WebApplication2.Models.Person
@{
    ViewData["Title"] = "ShowPerson";
}

<h2>Person Detail</h2>

<div><h4>First Name:</h4>@Model.FirstName</div>
<div><h4>Last Name:</h4> @Model.LastName</div>
<div><h4>Birth Date:</h4> @Model.BirthDate</div>
<div><h4>Age:</h4> @Model.Age.ToString("")</div>

<div>
   <br /><br /> <a asp-action="EnterPerson" class="btn btn-info" id="rounded-button">Add a Person</a>
</div>