<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <header>
        <a asp-controller="Home" asp-action="Index">Index</a>
        <a asp-controller="Home" asp-action="SecondPage" asp-route-id="10">Go to Page 2</a>
        <a asp-controller="Person" asp-action="Index">Go to Person Page</a>
    </header>
    <div>
        @RenderBody()
    </div>

</body>
</html>
