@model WebApplication2.Models.Person
@{
    ViewData["Title"] = "ShowPerson";
}

<h2>Sample Product</h2>

<div>Person FirstName: @Model.FirstName</div>
<div>Person LastName: @Model.LastName</div>
<div>BirthDate BirthDate: @Model.BirthDate</div>
<div>Age due: @Model.Age.ToString("")</div>